/* Reset básico */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    background-image: url('/pasta/imagens/naosei.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do header e navegação */
header {
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    padding: 10px;
    background-image: linear-gradient(to right, black, rgb(69, 69, 71), rgb(69, 69, 71), black);
    font-style: italic;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Garante que o header fique acima do conteúdo principal */
}

header:hover {
    opacity: 1;
    transition: opacity 2s;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}



header a {
    text-decoration: none;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.biografia {
    width: 80%;
    max-width: 800px;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    /* Adiciona um fundo branco semitransparente para melhorar a legibilidade */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adiciona uma sombra sutil */
    box-sizing: border-box;
    text-align: center;
    /* Centraliza o texto dentro do div */
}
